In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file = "National_Obesity_By_State.csv"

# Read Purchasing File and store into Pandas data frame
obesity_data= pd.read_csv(file)
obesity_data.head()

   OBJECTID        NAME  Obesity   Shape__Area  Shape__Length
0         1       Texas     32.4  7.672329e+12   1.540832e+07
1         2  California     24.2  5.327809e+12   1.451870e+07
2         3    Kentucky     34.6  1.128830e+12   6.346699e+06
3         4     Georgia     30.7  1.652980e+12   5.795596e+06
4         5   Wisconsin     30.7  1.567816e+12   6.806782e+06

In [2]:
obesity_rates_data = obesity_data[['OBJECTID', 'NAME', 'Obesity']]
obesity_rates_data.head()

   OBJECTID        NAME  Obesity
0         1       Texas     32.4
1         2  California     24.2
2         3    Kentucky     34.6
3         4     Georgia     30.7
4         5   Wisconsin     30.7

In [4]:
# Remove Puerto Rico & DC
good_obesity = obesity_rates_data.drop([38, 35])
good_obesity

    OBJECTID            NAME  Obesity
0          1           Texas     32.4
1          2      California     24.2
2          3        Kentucky     34.6
3          4         Georgia     30.7
4          5       Wisconsin     30.7
5          6          Oregon     30.1
6          7        Virginia     29.2
7          8       Tennessee     33.8
8          9       Louisiana     36.2
9         10        New York     25.0
10        11        Michigan     31.2
11        12           Idaho     28.6
12        13         Florida     26.8
13        14          Alaska     29.8
14        15         Montana     23.6
15        16       Minnesota     26.1
16        17        Nebraska     31.4
17        18      Washington     26.4
18        19            Ohio     29.8
19        20        Illinois     30.8
20        21        Missouri     32.4
21        22            Iowa     32.1
22        23    South Dakota     30.4
23        24        Arkansas     34.5
24        25     Mississippi     35.6
25        26        Colorado     20.2
26        27  North Carolina     30.1
27        28            Utah     24.5
28        29        Oklahoma     33.9
29        30         Wyoming     29.0
30        31   West Virginia     35.6
31        32         Indiana     31.3
32        33   Massachusetts     24.3
33        34          Nevada     26.7
34        35     Connecticut     25.3
36        37    Rhode Island     26.0
37        38         Alabama     35.6
39        40  South Carolina     31.7
40        41           Maine     30.0
41        42          Hawaii     22.7
42        43         Arizona     28.4
43        44      New Mexico     28.8
44        45        Maryland     28.9
45        46        Delaware     29.7
46        47    Pennsylvania     30.0
47        48          Kansas     34.2
48        49         Vermont     25.1
49        50      New Jersey     25.6
50        51    North Dakota     31.0
51        52   New Hampshire     26.3

In [5]:
# Save data frame to CSV
good_obesity.to_csv('good_obesity.csv')

# Display data frame head 
good_obesity

    OBJECTID            NAME  Obesity
0          1           Texas     32.4
1          2      California     24.2
2          3        Kentucky     34.6
3          4         Georgia     30.7
4          5       Wisconsin     30.7
5          6          Oregon     30.1
6          7        Virginia     29.2
7          8       Tennessee     33.8
8          9       Louisiana     36.2
9         10        New York     25.0
10        11        Michigan     31.2
11        12           Idaho     28.6
12        13         Florida     26.8
13        14          Alaska     29.8
14        15         Montana     23.6
15        16       Minnesota     26.1
16        17        Nebraska     31.4
17        18      Washington     26.4
18        19            Ohio     29.8
19        20        Illinois     30.8
20        21        Missouri     32.4
21        22            Iowa     32.1
22        23    South Dakota     30.4
23        24        Arkansas     34.5
24        25     Mississippi     35.6
25        26        Colorado     20.2
26        27  North Carolina     30.1
27        28            Utah     24.5
28        29        Oklahoma     33.9
29        30         Wyoming     29.0
30        31   West Virginia     35.6
31        32         Indiana     31.3
32        33   Massachusetts     24.3
33        34          Nevada     26.7
34        35     Connecticut     25.3
36        37    Rhode Island     26.0
37        38         Alabama     35.6
39        40  South Carolina     31.7
40        41           Maine     30.0
41        42          Hawaii     22.7
42        43         Arizona     28.4
43        44      New Mexico     28.8
44        45        Maryland     28.9
45        46        Delaware     29.7
46        47    Pennsylvania     30.0
47        48          Kansas     34.2
48        49         Vermont     25.1
49        50      New Jersey     25.6
50        51    North Dakota     31.0
51        52   New Hampshire     26.3